# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -------------------------
# Virtual Environment
# -------------------------
venv/
.env

# -------------------------
# Database
# -------------------------
*.db
*.sqlite3

# -------------------------
# IDE / Editor
# -------------------------
.vscode/
.idea/
*.swp

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Test / coverage
# -------------------------
.coverage
htmlcov/
pytest_cache/

# -------------------------
# Build artifacts
# -------------------------
dist/
build/
*.egg-info/
